#brijo{
    width: 15%;
    border-radius: 100%;
  }
  /* body{
   color: #20784D; */
  
  #mbog{
    border-radius: 100%;
    width: 15%;
  }
  .main{
    display: flex;
    gap: 22%;
  }
  .image{
    display: flex;
    gap: 15%;
   
  }
  .rev{
    display: flex;
    gap: 15%;
  }
  .reviews{
    text-align: center;
    font-size: 60px;
    color:#20784D; ;
  }
 
  @media screen and (max-width:743px){
    .mai{
      padding-right: 50px;
      margin-right: 50px;
    }
  }